In [1]:
import os
import json
import requests
import pandas as pd
from dotenv import load_dotenv
load_dotenv()


def githubRequestAuthorized(resource):
    authToken = os.getenv("GITHUB_API_TOKEN")
    if not authToken:
        raise ValueError("NECESITAS UN TOKEN")
    else:
        print("We have a github token: ", authToken[0:4])
    headers = {
        "Authorization": "token {}".format(authToken)
    }
    url = "https://api.github.com{}".format(resource)
    print("Requesting authorized {}".format(url))
    res = requests.get(url, headers=headers)
    return res

Challenge 1: Fork Languages

In [2]:
# test
res = requests.get("https://github.com/ironhack-datalabs/datamad1019")
print(res)

#devuelve todos los forks que hay a la repo

data = githubRequestAuthorized("/repos/ironhack-datalabs/datamad1019/forks").json()

<Response [200]>
We have a github token:  a600
Requesting authorized https://api.github.com/repos/ironhack-datalabs/datamad1019/forks

In [3]:
#metodo apuntes ironhack

from pandas.io.json import json_normalize

flattened_data = json_normalize(data)
flattened_data = flattened_data[["full_name","language"]]
display(flattened_data)

                     full_name          language
0   begoechavarren/datamad1019              None
1         mariobru/datamad1019  Jupyter Notebook
2          jlmingo/datamad1019  Jupyter Notebook
3            Ovion/datamad1019  Jupyter Notebook
4       ToniPons97/datamad1019  Jupyter Notebook
5    noeliacarrion/datamad1019  Jupyter Notebook
6    mariaadradosr/datamad1019  Jupyter Notebook
7       Juliopdata/datamad1019  Jupyter Notebook
8       guzmanueco/datamad1019  Jupyter Notebook
9     blancaalcala/datamad1019  Jupyter Notebook
10       AlexMndzF/datamad1019  Jupyter Notebook
11       David-Fde/datamad1019  Jupyter Notebook
12         MaikaRG/datamad1019  Jupyter Notebook
13     Turandot123/datamad1019  Jupyter Notebook
14           isagc/datamad1019  Jupyter Notebook
15          alfpml/datamad1019  Jupyter Notebook
16       mermora97/datamad1019  Jupyter Notebook
17       jm-cruz-d/datamad1019  Jupyter Notebook
18     blancalluch/datamad1019  Jupyter Notebook
19      albertovpd/datamad1019  Jupyter Notebook
20     mariaversin/datamad1019  Jupyter Notebook
21       seorakwon/datamad1019  Jupyter Notebook
22       Jpereza24/datamad1019              None
23        castares/datamad1019              None
24     progameitor/datamad1019              None
25     Masdevallia/datamad1019  Jupyter Notebook
26   cprietosegura/datamad1019  Jupyter Notebook
27          jgph91/datamad1019  Jupyter Notebook
28    alvarorivasg/datamad1019  Jupyter Notebook
29     Clapiniella/datamad1019  Jupyter Notebook

In [4]:
#metodo apuntes Marc

values = list(map(lambda repo: repo["language"], data))
keys = list(map(lambda repo: repo["full_name"], data))

dic = dict(zip(keys,values))

print(dic)

{'begoechavarren/datamad1019': None, 'mariobru/datamad1019': 'Jupyter Notebook', 'jlmingo/datamad1019': 'Jupyter Notebook', 'Ovion/datamad1019': 'Jupyter Notebook', 'ToniPons97/datamad1019': 'Jupyter Notebook', 'noeliacarrion/datamad1019': 'Jupyter Notebook', 'mariaadradosr/datamad1019': 'Jupyter Notebook', 'Juliopdata/datamad1019': 'Jupyter Notebook', 'guzmanueco/datamad1019': 'Jupyter Notebook', 'blancaalcala/datamad1019': 'Jupyter Notebook', 'AlexMndzF/datamad1019': 'Jupyter Notebook', 'David-Fde/datamad1019': 'Jupyter Notebook', 'MaikaRG/datamad1019': 'Jupyter Notebook', 'Turandot123/datamad1019': 'Jupyter Notebook', 'isagc/datamad1019': 'Jupyter Notebook', 'alfpml/datamad1019': 'Jupyter Notebook', 'mermora97/datamad1019': 'Jupyter Notebook', 'jm-cruz-d/datamad1019': 'Jupyter Notebook', 'blancalluch/datamad1019': 'Jupyter Notebook', 'albertovpd/datamad1019': 'Jupyter Notebook', 'mariaversin/datamad1019': 'Jupyter Notebook', 'seorakwon/datamad1019': 'Jupyter Notebook', 'Jpereza24/datamad1019': None, 'castares/datamad1019': None, 'progameitor/datamad1019': None, 'Masdevallia/datamad1019': 'Jupyter Notebook', 'cprietosegura/datamad1019': 'Jupyter Notebook', 'jgph91/datamad1019': 'Jupyter Notebook', 'alvarorivasg/datamad1019': 'Jupyter Notebook', 'Clapiniella/datamad1019': 'Jupyter Notebook'}