## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [40]:
import pandas as pd

df = pd.read_csv("../weather-raw.csv")

melted_cols = df.columns[4:-1]

x = df.melt(id_vars=["year","month",'element'],value_vars=melted_cols)

final = x.groupby(["year","month","element"]).mean()

display(final)

                        value
year month element
2010 1     tmax     27.800000
           tmin     14.500000
     2     tmax     27.750000
           tmin     13.225000
     3     tmax     32.566667
           tmin     16.200000
     4     tmax     36.300000
           tmin     16.700000
     5     tmax     33.200000
           tmin     18.200000
     6     tmax     29.050000
           tmin     17.750000
     7     tmax     29.250000
           tmin     17.000000
     8     tmax     28.750000
           tmin     15.916667
     10    tmax     28.900000
           tmin     13.080000
     11    tmax     28.120000
           tmin     12.500000
     12    tmax     28.850000
           tmin     12.150000