## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
import pandas as pd
import pymysql
import sqlalchemy as db
from sqlalchemy import create_engine
import getpass

In [98]:
weather = pd.read_csv('../weather-raw.csv')
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
melted_cols = weather.columns[4:-1]
x = weather.melt(id_vars=["year","month",'element'],value_vars=melted_cols)
temp = x.groupby('month').value.agg({'min','max'})
x = pd.merge(weather[['year','month']],temp, on = 'month')
x

    year  month   min   max
0   2010      1  14.5  27.8
1   2010      1  14.5  27.8
2   2010      2  10.7  29.9
3   2010      2  10.7  29.9
4   2010      3  14.2  34.5
5   2010      3  14.2  34.5
6   2010      4  16.7  36.3
7   2010      4  16.7  36.3
8   2010      5  18.2  33.2
9   2010      5  18.2  33.2
10  2010      6  17.5  30.1
11  2010      6  17.5  30.1
12  2010      7  16.5  29.9
13  2010      7  16.5  29.9
14  2010      8  15.0  29.8
15  2010      8  15.0  29.8
16  2010     10  10.5  31.2
17  2010     10  10.5  31.2
18  2010     11   7.9  31.3
19  2010     11   7.9  31.3
20  2010     12  10.5  29.9
21  2010     12  10.5  29.9

In [58]:
[weather['d4'].max(), weather['d4'].min()]

[27.2, 12.0]